<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
      Nombre:  <%= Persona.name %><br>
      Apellido: <%= Persona.lastName %><br>
    </body>
</html>